<h1>Hello from afar!</h1>
<p>Dearest @Model.Recipient, friend and pal o'mine,</p>
<p>How are you!? I hope you're having a great dang day! I am out and about in @Model.Location while taking my online coding bootcamp. Isn't that swell?</p>
<p>The food is so good here! I'm glad we're walking a lot, I need to work off all the snacks!</p>
<p>Programming is also great, you should give it a try if you have a chance.</p>
<p>But yeah I miss your stinkin face @Model.Recipient! See you soon with a @Model.Souvenir hand!!!</p>
<p>TTFN,</p>
<p>@Model.Sender, Programmer on the Move</p>